# mac attribute folders
**/.DS_Store

# test coverage produced by Istanbul (Jest)
coverage

# distribution directory for libs and types
dist

# jsl download files
download

# the lib files to be published
lib

# node modules
node_modules

# the typescript type declarations
types